/* Start of navigation css */
.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none; /* getting rid of default border*/
  cursor: pointer;
  padding: 0; /* changing default padding to 0*/
  box-sizing: border-box;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button-line {
  width: 30px;
  height: 3px;
  background: #2a2d78;
}

.toolbar {
  display: none;
}

.toolbar-logo {
  height: 42px;
  margin: 0.2rem 0 0 0.5rem;
}

.toolbar-images {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.side-drawer {
  height: 100%;
  background: #f4f186;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 250px;
  z-index: 200;
  margin-right: 10rem;
}

.side-drawer-image {
  height: 90%;
  width: 90%;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.spacer {
  flex: 1;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer li {
  width: 100%;
  margin-left: -2.5rem;
}

.gdo2020 {
  color: #2a2d78;
  font-variant: small-caps;
  padding-left: 0.5rem;
  padding-top: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.side-drawer a {
  display: block;
  width: 100%;
  color: #2a2d78;
  font-variant: small-caps;
  padding: 1.2rem 0;
  padding-left: 2.5rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.side-drawer a:hover,
.side-drawer a:active {
  /* color: white; */
  background-color: #6d5493;
  color: white;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 100;
}

.content {
  margin-left: 270px;
}
/* End of navigation css */

.submit {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.submit h1 {
  font-variant: small-caps;
}

.submit p {
  font-size: 1.2rem;
}

.submit p a:visited {
  color: #0000ee;
}

.submit button {
  margin: 1rem 0;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.now {
  background: #6d5493;
  color: #f4f186;
  padding: 20px 25px;
  margin: 2rem 0;
}

.later {
  background: #bdbdbd;
  color: black;
  padding: 20px 23px;
}

.now:hover {
  background-color: #8a76a8;
}

.later:hover {
  background-color: #d7d7d7;
}

@media (max-width: 1024px) {
  /* Start of navigation media query css */
  .side-drawer {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }
  .toolbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f4f186;
    height: 56px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
  .backdrop:hover {
    cursor: pointer;
  }

  .content {
    margin-top: 70px;
    margin-left: 1px;
  }
  /* End of navigation media query css */
}

@media screen and (max-width: 470px) {
  .feedback {
    text-align: left;
    font-size: 1.3rem;
  }
}

@media (max-height: 450px) {
  /* Start of navigation media query css */
  .side-drawer a {
    font-size: 1rem;
    padding: 0.7rem 0;
    padding-left: 2.5rem;
  }
  .side-drawer-image {
    height: 60%;
    width: 60%;
    margin-bottom: 1.5rem;
    margin-left: 4rem;
  }
  /* End of navigation media query css */
}
